---
import { etsyStoreName } from "@/site.config";
---

<script is:inline define:vars={{ etsyStoreName }}>
  const etsyFeedUrl = `https://www.etsy.com/shop/${etsyStoreName}/rss`;
  
  function formatPrice(priceString) {
    if (!priceString) return 'No price';

    const parts = priceString.split(' ');
    if (parts.length === 2) {
      const amount = parseFloat(parts[0]);
      const currencyCode = parts[1].toUpperCase();

      if (isNaN(amount)) return priceString;

      switch (currencyCode) {
        case 'GBP':
          return `£${amount.toFixed(2)}`;
        case 'USD':
          return `$${amount.toFixed(2)}`;
        case 'EUR':
          return `€${amount.toFixed(2)}`;
        // Add more currency conversions as needed
        default:
          return priceString;
      }
    }
    return priceString; // Return original if format is unexpected
  }
  
  const parser = new DOMParser();
  fetch('https://corsproxy.io/?' + encodeURIComponent(etsyFeedUrl))
    .then(res => res.text())
    .then(str => {
      const xml = parser.parseFromString(str, "application/xml");
      const items = xml.querySelectorAll("item");
      const storeContent = document.getElementById("store-content");
      if (storeContent) {
        items.forEach(item => {
          const rawTitle = item.querySelector("title")?.textContent
          const storeNameIndex = rawTitle.indexOf(' by ' + etsyStoreName);
          const title = item.querySelector("title")?.textContent.substring(0, storeNameIndex);
          const rawDescription = item.querySelector("description")?.textContent;
          const link = item.querySelector("link")?.textContent;

          let imageUrl = '';
          let price = '';
          let cleanDescription = '';

          if (rawDescription) {
            const tempDoc = parser.parseFromString(rawDescription, "text/html");
            const imgElement = tempDoc.querySelector("img");
            if (imgElement) {
              imageUrl = imgElement.src;
            }
            const priceElement = tempDoc.querySelector(".price");
            if (priceElement) {
              price = formatPrice(priceElement.innerHTML) || '';
            }
            const descriptionElement = tempDoc.querySelector(".description");
            if (descriptionElement) {
              cleanDescription = descriptionElement.innerHTML || '';
            }
          }

          const template = document.getElementById("etsy-item-template");
          if (template instanceof HTMLTemplateElement) {
            const clone = document.importNode(template.content, true);
            const itemDiv = clone.querySelector(".etsy-item");
            if (itemDiv) {
              const itemTitle = itemDiv.querySelector(".item-title");
              if (itemTitle) {
                itemTitle.innerHTML = title || 'No Title';
              }
              const itemImage = itemDiv.querySelector(".item-image");
              if (itemImage instanceof HTMLImageElement && imageUrl) {
                itemImage.src = imageUrl;
                itemImage.style.display = 'block';
              } else if (itemImage) {
                itemImage.attributes.disabled = 'disabled';
              }
              const itemPrice = itemDiv.querySelector(".item-price");
              if (itemPrice) {
                itemPrice.innerHTML = price || 'No price';
              }
              const itemDescription = itemDiv.querySelector(".item-description");
              if (itemDescription) {
                itemDescription.innerHTML = cleanDescription || 'No Description';
              }
              const linkElement = itemDiv.querySelector(".item-link");
              if (linkElement instanceof HTMLAnchorElement && link) {
                linkElement.href = link;
              } else if (linkElement) {
                linkElement.style.display = 'none';
              }
              storeContent.appendChild(itemDiv);
            }
          }
        });
      }
    })
    .catch(error => console.error("Error fetching or parsing RSS feed:", error));
</script>

<div id="store-content" class="mt-8 mb-8 grid grid-cols-1 gap-4 md:grid-cols-2"></div>

<template id="etsy-item-template">
  <div class="etsy-item rounded-lg bg-color-75 p-4">
    <img async class="item-image w-full h-auto mb-4" />
    <h2 class="item-title mb-4 text-xl text-accent-two"></h2>
    <p class="item-price mb-4 font-semibold"></p>
    <p class="item-description mb-4"></p>
    <a class="item-link relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two" data-astro-source-file="/app/src/pages/index.astro" data-astro-source-loc="54:188">
      <span class="text-bgColor font-semibold">
        More info
      </span>
    </a>
  </div>
</template>
